@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&family=Koulen&display=swap');

h1, h2 {
  font-family: 'Koulen';
}

body {
  font-family: 'Barlow Semi Condensed';
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 20px;
  font-weight: normal;
}



@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
